<div class="row">
  <div [class]="isSidePanelOpen() ? 'col-7' : 'col-12'">
    <div class="card">
      <div class="card-header bg-secondary">
        <div class="row">
          <div class="col-6 text-white">
            <h3><strong>Employee Portal</strong></h3>
          </div>
          <div class="col-6 text-end">
            <button class="btn btn-primary btn-lg" (click)="addNew()">
              Add New Employee
            </button>
          </div>
        </div>
      </div>

      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Employee ID</th>
              <th>Name</th>
              <th>Contact No</th>
              <th>Email</th>
              <th>Department</th>
              <th>Role</th>
              <th>Gender</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            @for(item of employeeList; track $index){
            <tr>
              <td>{{ $index + 1 }}</td>
              <td>{{ item.employeeName }}</td>
              <td>{{ item.contactNo }}</td>
              <td>{{ item.emailId }}</td>
              <td>{{ item.deptId }}</td>
              <td>{{ item.role }}</td>
              <td>{{ item.gender }}</td>
              <td>
                <button class="btn btn-success btn-sm" (click)="onEdit(item)">
                  Edit
                </button>
                <button
                  class="btn btn-danger btn-sm"
                  (click)="onDelete(item.employeeId)"
                >
                  Delete
                </button>
              </td>
            </tr>

            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
@if(isSidePanelOpen()) {
<div class="col-5">
  <div class="card">
    <div class="card-header bg-secondary">
      <div class="row">
        <div class="col-6 text-white">
          <h4><strong>New Employee</strong></h4>
        </div>
        <div class="col-6 text-end">
          <button class="btn btn-danger" (click)="close()">Close</button>
        </div>
      </div>
    </div>

    <div class="card-body">
      <form class="mb-4">
        <div class="row">
          <div class="col-md-6">
            <label>Employee Name</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="employeeObj.employeeName"
              name="employeeName"
              id="employeeName"
              placeholder="Enter Employee Name"
              required
            />
          </div>
          <div class="col-md-6">
            <label>Contact No</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="employeeObj.contactNo"
              name="contactNo"
              id="contactNo"
              placeholder="Contact No"
              required
            />
          </div>
          <div class="col-md-6">
            <label>Email</label>
            <input
              type="email"
              class="form-control"
              [(ngModel)]="employeeObj.emailId"
              name="emailId"
              id="email"
              placeholder="Enter Email"
              required
            />
          </div>
          <div class="col-md-6">
            <label>Password</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="employeeObj.password"
              name="password"
              id="password"
              placeholder="Enter Password"
              required
            />
          </div>
          <!-- <div class="col-md-6">
                <label>Role</label>
                <input
                  type="text"
                  class="form-control"
                  id="role"
                  placeholder="Role"
                  required
                />
              </div> -->
          <div class="col-md-6">
            <label for="gender" class="form-label">Gender</label>
            <!-- <select class="form-control" id="gender" required>
                  <option value="" disabled selected>Select Gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Other">Other</option>
                </select> -->
            <input type="radio" value="Male" name="gender" /> Male
            <input type="radio" value="Female" name="gender" /> Female
          </div>
          <div class="col-md-6">
            <label for="deptId" class="form-label">Parent Department</label>
            <select
              class="form-select"
              [(ngModel)]="deptId"
              name="parentDeptId"
              id="parentDeptId"
              (change)="onDeptChange()"
            >
              <option selected>Select Parent Department</option>
              @for(item of parentDeptList; track $index){
              <option [value]="item.departmentId">
                {{ item.departmentName }}
              </option>
              }
            </select>
          </div>
          <div class="col-md-6">
            <label for="deptId" class="form-label">Child Department</label>
            <select
              class="form-select"
              id="childDeptId"
              [(ngModel)]="employeeObj.deptId"
              name="childDeptId"
            >
              <option selected>Select Department</option>
              @for(item of childDeptList; track $index){
              <option [value]="item.childDeptId">
                {{ item.departmentName }}
              </option>
              }
            </select>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12 text-end">
            @if(employeeObj.employeeId == 0){

            <button type="button" (click)="onSaveEmp()" class="btn btn-warning">
              Submit
            </button>

            } @else{

            <button
              type="button"
              (click)="onUpdateEmp()"
              class="btn btn-primary"
            >
              Update
            </button>
            }
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
}
