<div class="row">
  <div class="col-2">
    <nav
      class="navbar fixed-top navbar-expand-lg navbar-dark"
      style="background-color: #39a6a3"
    >
      <div class="container-fluid">
        <!-- <a class="navbar-brand fw-bold" href="/login"
          >Employee Project Management</a
        > -->

        <div class="logo" style="display: flex; align-items: center; gap: 10px">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUfVdhPk48wGG46oXdHqlKHelfQj1Zqo-bfg&s"
            alt="Employee Project Management Logo"
            style="height: 100px"
          />
          <!-- <h2 style="margin: 0"></h2> -->
        </div>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                routerLink="/dashboard"
              >
                <h4>Home</h4></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/employee">
                <h4>Employees</h4>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" routerLink="/new-employee">
                <h4>New Employees</h4>
              </a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" routerLink="/projects"> <h4>Projects</h4></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/employee-projects">
                <h4>Projects Employee</h4></a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link" (click)="logout()" style="cursor: pointer">
                <h4>Logout</h4>
              </a>
            </li>

            <!-- <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link">Link</a>
            </li> -->
          </ul>
          <!-- <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form> -->
        </div>
      </div>
    </nav>
  </div>
  <div class="col-10">
    <div class="container-fluid mt-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
