<div class="container">
  <!-- Login Form -->
  <div class="form-box login">
    <form (ngSubmit)="login()">
      <h1>Login</h1>
      <!-- Email input field with icon -->
      <div class="input-box">
        <input
          type="email"
          [(ngModel)]="email"
          name="email"
          placeholder="Email"
          required
        />
        <i class="bx bxs-envelope"></i>
        <!-- Email icon -->
      </div>
      <!-- Password input field with icon -->
      <div class="input-box">
        <input
          type="password"
          [(ngModel)]="password"
          name="password"
          placeholder="Password"
          autocomplete="new-password"
          required
        />
        <i class="bx bxs-lock-alt"></i>
        <!-- Lock icon -->
      </div>
      <!-- Submit button for login -->
      <button type="submit" class="btn">Login</button>
      <!-- Display error message if any -->
      <p>{{ error }}</p>
    </form>
  </div>

  <!-- Registration Form -->
  <div class="form-box register">
    <form action="#">
      <h1>Registration</h1>
      <!-- Username input field with icon -->
      <div class="input-box">
        <input type="text" placeholder="Username" required />
        <i class="bx bxs-user"></i>
        <!-- User icon -->
      </div>
      <!-- Email input field with icon -->
      <div class="input-box">
        <input type="email" placeholder="Email" required />
        <i class="bx bxs-envelope"></i>
        <!-- Email icon -->
      </div>
      <!-- Password input field with icon -->
      <div class="input-box">
        <input type="password" placeholder="Password" required />
        <i class="bx bxs-lock-alt"></i>
        <!-- Lock icon -->
      </div>
      <!-- Register button -->
      <button type="submit" class="btn" routerLink="/signup">Register</button>
      <p>or register with social platforms</p>
      <div class="social-icons">
        <!-- Social icons for login -->
        <a href="#"><i class="bx bxl-github"></i></a>
        <a href="#"><i class="bx bxl-linkedin"></i></a>
      </div>
    </form>
  </div>

  <!-- Toggle Box for switching between login and register -->
  <div class="toggle-box">
    <div class="toggle-panel toggle-left">
      <h1>SignUp, Here!</h1>
      <p>Don't have an account?</p>
      <button class="btn register-btn" routerLink="/signup">SignUp</button>
    </div>
  </div>
</div>
